body {
    background: #f8f9fc;
}
*{
    box-sizing: border-box;
    outline: none;
}
* a{
    text-decoration: none;
}
.container{
    width: 1350px;
    margin: 0 20px;
}
.portfolio{
    padding: 100px 0 0 0;
}
.portfolio__item{
    display: inline-flex;
    align-items: end;
}
.portfolio__item img{
    width: 182px;
    object-fit: fill;
    display: inline-flex;
    border-radius: 20px;
    background-color: #ffffff;
    margin-right: 15px;
    border: 1px solid #0000001c;
    transition: all 0.4s;
}
.portfolio__item img:hover{
    transform: scale(1.2);

}