body {
    background: #f8f9fc;
}
html{
    font-family: sans-serif;
}
*{
    box-sizing: border-box;
    outline: none;
}
* a{
    text-decoration: none;
    color: #4e4e4e;
}
h2{
    text-align: center;
}
li{
    list-style: none;
}
.container{
    width: 1350px;
    margin: 0 auto;
}
.portfolio{
    display: flex;
    padding: 70px 0 0 0;
}
.portfolio__items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.portfolio__items img{
     width: 310px;
    height: 200px;
    -o-object-position: top;
    object-position: top;
    -o-object-fit: cover;
    object-fit: cover;
    /*display: -webkit-inline-box;*/
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    background-color: #ffffff;
    -webkit-transition: all 1s cubic-bezier(0, 0, 1, 1.04);
    -o-transition: all 1s cubic-bezier(0, 0, 1, 1.04);
    transition: all 1s cubic-bezier(0, 0, 1, 1.04);
    border-radius: 10px 10px 0 0
}
.portfolio__items img:hover{
     -webkit-transition: all 5s cubic-bezier(0, 0, 1, 1.04);
    -o-transition: all 5s cubic-bezier(0, 0, 1, 1.04);
    transition: all 5s cubic-bezier(0, 0, 1, 1.04);
    -o-object-position: bottom;
    object-position: bottom
}
.portfolio__item:hover{
    transform: scale(1.1);
}
.portfolio__items a{
    display: block;
}
.portfolio__item{
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 14px 2px #00000024;
    transition: all 0.4s;
    margin: 25px 27px 25px 0;
}
.portfolio__item ul{
    font-size: 15px;
    color: #545454;
    padding: 0 40px 10px 40px;
    line-height: 25px;
}
.portfolio__title{
    color: #4e4e4e;
    font-size: 25px;
}
.portfolio__desc{
    border-top: 1px solid #0000000f;
}
.portfolio__desc span{
    font-weight: 600;
}

.portfolio__text{
    position: relative;
}