*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*a{
    text-decoration: none;
}
html{
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
.promo{
    height: 800px;
    background: url("../img/bg/bg-header.png") center center/cover no-repeat;
    padding: 39px 0 62px 0;
}
.container{
    position: relative;
    width: 1140px;
    margin: 0 auto;
}
.logo .logo_img{
    display: block;
    width: 79px;
    margin: 0 auto;
}
.logo .logo_text{
    color: white;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 14px;
}
h1{
    margin-top: 53px;
}
.title{
    color: rgb(249, 191, 59);
    text-transform: uppercase;
    font-size: 41px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
}
h2.title{
    margin-top: 30px;
}
.simple .title_big{
    color: white;
    font-size: 80px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    margin-top: 21px;
}
.home {
    display: inline-flex;
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: 0.3;
    background-color: #000000b5;
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
    width: 113px;
    height: fit-content;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    transition: all 0.4s;
    z-index: 3;
}

.home a {
    display: block;
    padding: 5px;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

.home:hover {
    opacity: 1;
    text-decoration: underline;
}
.promo .promo_text{
    padding: 0 13px;
    margin-top: 23px;
    color: white;

    font-size: 21px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
}
.promo .promo_text span{
    color: rgb(249, 191, 59);
    font-weight: 700;
}
.promo .promo_btn, .gift .promo_btn{
    display: block;
    margin: 0px auto;
    margin-top: 73px;
    width: 313px;
    height: 72px;
    border: none;
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.18);
    border-radius: 5px;
    border-bottom: 3px inset rgba(0, 0, 0, 0.32);
    background-image: linear-gradient(to top, #2798b9 0%,#3ab6da 100%);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.22);
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    transition: 0.7s;
}
.promo .promo_btn:hover, .gift .promo_btn:hover{
    background-image: linear-gradient(to top, #2798b985 0%,#3ab6dab0 100%);
    transition: 0.7s;
}
.more{
    margin-top: 73px;
}
.more .more_text{
    color: white;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}
.more .more_img{
    display: block;
    width: 30px;
    margin: 35px auto 0 auto;
}
.waiting{
    min-height: 604px;
    background: #efefef;
    padding: 85px 0 75px 0;
}
.waiting .waiting_img{
    width: 342px;
}
.waiting .waiting_header, .finish .finish_header{
    color: #252525;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}
.finish .finish_header{
    color: white;
}
.waiting .waiting_divider, .finish_divider{
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
    margin: 0 auto;
    margin-top: 18px;
}
.waiting .waiting_subheader{
    margin-top: 17px;
    color: #4a4a4a;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
}
.waiting .waiting_wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}
.waiting .waiting_wrapper .waiting_item{
    width: 339px;
    text-align: center;
}
.waiting .waiting_wrapper .waiting_item .waiting_descr{
    margin-top: 33px;
    color: #4a4a4a;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}
.optimization{
    min-height: 550px;
    padding: 102px 0 58px 0;
}
.optimization_header{
    margin-left: 420px;
    color: #299cbd;
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
}
.optimization_text{
    margin-top: 25px;
    margin-left: 425px;
    color: #4a4a4a;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
    text-align: justify;
}
.optimization_text span{
    font-weight: 700;
}
.optimization_img{
    width: 900px;
    position: absolute;
    top: -54px;
    left: -240px;
    z-index: -1;
}
.finish{
    min-height: 447px;
    padding: 86px 0 79px 0;
    background: url("../img/bg/bg-finish.png") center center/ cover no-repeat;
}
.finish_wrapper{
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}
.finish_item{
    width: 210px;
}
.finish img{
    width: 55px;
}
.finish_round{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 115px;
    height: 115px;
    background-color: #b4e2ff;
    border-radius: 100%;
}
.finish_deskr{
    margin-top: 25px;
    text-align: center;
    color: #efefef;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
}
.gift{
    padding: 85px 0 85px 0;
    background: #efefef;
}
.gift_img{
    display: block;
    width: 155px;
    margin: 0 auto;
}
.gift_text{
    color: black;
    padding: 52px;
    width: 1133px;
    font-size: 30px;
    text-align: center;
}
.webinar{
    margin: 83px 0 70px 0;
}
.webinar_img{
    display: block;
    width: 345px;
    margin: 0 auto;
}
.webinar_descr{
    color: #252525;
    margin-top: 37px;
    text-align: center;
    font-size: 30px;
}
.webinar_time{
    color: #299cbd;
    font-weight: 900;
    text-align: center;
    font-size: 36px;
    line-height: 70px;
}
.webinar_text{
    color: #4a4a4a;
    text-align: center;
    font-weight: 400;
    font-size: 23px;
}
.footer{
    padding: 62px 0 70px 0;
    text-align: center;
    color: #888888;
    font-size: 15px;
    background-color: #1a1a1a;
    text-decoration: none;
}
.footer a{
    text-decoration: none;
    color: #888888;
    line-height: 30px;
}
.footer_policy {
    text-decoration: none;
}
