@import "../../node_modules/normalize.css/normalize";
@import "../scss/fonts.scss";

*{
  box-sizing: border-box;
}
body{
  font-family: 'GothamPro', sans-serif;
  color: rgb(101, 101, 101);
}
.container{
  width: 1100px;
  margin: 0 auto;
}
.header{
  display: flex;
  background-color: #f6f7fa;
}
.header_top{
  padding-top: 37px;
  display: flex;
  justify-content: space-between;
}
.header_logo img{
  width: 91px;
}
.header_login button{
  position: relative;
  cursor: pointer;
  outline: none;
  background: none;
  border: 2px solid #3365EA;
  border-radius: 5px;
  width: 88px;
  color: #3365EA;
  font-size: 15px;
  height: 31px;
  padding-left: 25%;
}
.header_login button:before{
    content: '';
    position: absolute;
    left: 8px;
    background: url('../img/log_in_ico.svg') center center/cover no-repeat;
    width: 15px;
    height: 15px;
}
.subheader{
  padding: 105px 0 100px 0;
}
.subheader_menu{
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 0;
}
.subheader_menu li{
  position: relative;
  list-style: none;
  font-weight: 400;
  font-size: 12px;
  padding-bottom: 14px;
  border-bottom: 1px solid #c9c9ca70;
}
.subheader_menu li:before{
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  bottom: -1px;
  width: 0;
  height: 2px;
  background-color: #3365EA;
  box-shadow: 0 2px 10px 0 rgba(53,110,239,0.84);
  transition: width .5s ease-in-out;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}
.subheader_menu .subheader_menu__active:before{
 width: 100%;
}
.subheader_menu a{
  text-decoration: none;
  padding: 18px 35px;
  color: #828384;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.subheader-reg-block {
  display: none;
  flex-direction: column;
  text-align: center;
  color: #323c5a;

  &_open {
    display: flex;
  }
}
.subheader__benefits{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 40px 0;
}
.subheader__benefit{
  display: flex;
  width: 264px;
  margin-right: 10px;
  &-btn{
    width: 166px;
    margin: 0 auto;
    & a{
      padding: 0 40px 0 33px;
    }
  }

}
.subheader__benefit img{
  width: 30px;
  margin-right: 24px;
}
.subheader__benefit-descr{
  text-align: start;
}
.subheader__benefit-icon{
  width: 59px;
  height: 33px;
  margin-right: 21px;
}
.subheader__benefit-icon_1{
  background: url(../img/arguments-image-graph.svg) center no-repeat;
  background-size: contain;
}
.subheader__benefit-icon_2{
  background: url(../img/arguments-image-img.svg)center no-repeat;
  background-size: cover;
}
.subheader__benefit-icon_3{
  background: url(../img/image-free.svg)center no-repeat;
  background-size: contain;
}
.subheader_reg a{
  width: 17%;
  justify-content: center;
  margin: 0 auto;
}
.subheader__title{
  padding-top: 75px;
  font-size: 45px;
  font-weight: 600;
  line-height: 45px;
  margin: 0;
}
.subheader__descr{
  font-size: 15px;
  font-weight: 300;
  line-height: 17px;
  margin-bottom: 0;
}
.subheader_form{
  position: relative;
  padding-top: 68px;
}
.subheader_placeholder{
  border: none;
  background: none;
  color: #76747d;
  font-weight: 300;
  font-size: 20px;
  outline: none;
  width: 50%;
}
.subheader_form__area{
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border-radius: 50px;
  width: 542px;
  height: 67px;
}
.subheader_btn {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 50px;
  text-decoration: none;
  border: none;
  outline: none;
  height: 43px;
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
  padding: 0 40px 0 20px;
  background-color: #3365ea;
  color: #ffffff;
}
.subheader_btn:after{
  content: '';
  position: absolute;
  right: 17px;
  background: url('../img/tg_icon.svg') center center/cover no-repeat;
  width: 13px;
  height: 13px;
}
.subheader_form input[type=button]{
  font-family: 'GothamPro', sans-serif;
}
.trust{
  display: flex;
  background-color: #fcfcfc;
}
.trust_list{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 36px 0 36px 0;
}
.trust_groups, .trust__title{
  display: inline-flex;
}
.trust__title{
  color: #2f2f2f;
  font-size: 13px;
  margin-right: 44px;
}
.trust_groups a{
  text-decoration: none;
  color: #2f2f2f;
  font-size: 10px;
}
.trust_groups__circle{
  display: inline-flex;
  width: 45px;
  height: 45px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: #ffffff;
  margin-left: -15px;
  border: 1px solid #0000001c;
}
.trust_groups a:hover{
  position: relative;
  z-index: 2;
}


//arguments

.arguments__title{
  padding: 80px 0 30px 0;
}
.arguments__descr{
  width: 42%;
  margin: 0 auto;
}
.title,
.descr{
  text-align: center;
}
.title{
  font-size: 35px;
}
.descr{
  font-size: 13px;
  font-weight: 300;
  line-height: 18px;
  padding-bottom: 25px;
}
.arguments__items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.arguments__item{
  width: 273px;
  display: inline-flex;
  flex-direction: column;
  padding: 10px;
  margin: 0 3px 78px 0;
}
.arguments__item img{
  display: block;
  width: 51px;
  margin: 0 auto 35px auto;
}
.arguments__item-title,
.arguments__item-text{
  text-align: center;
}
.arguments__item-title{
  font-size: 18px;
  font-weight: 600;
}
.arguments__item-text{
  font-size: 15px;
  line-height: 21px;
  padding-top: 24px;
}

//description

.description{
  display: flex;
  background-color: #f6f7fa;
}
.description__wrapper{
  display: flex;
}
.description__info{
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 110px 0 100px 0;
}
.description__title{
  text-align: left;
}
.description__text{
  width: 550px;
  font-size: 15px;
  line-height: 23px;
  padding-top: 45px;
}
.description__text a{
  text-decoration: none;
  color: #5b5b5b;
}
.description__text span{
  font-weight: bold;
}
.description__img{
  position: relative;
}
.description__phone{
  border-radius: 25px;
  background-color: #ffffff;
  box-shadow: 0px 30px 150px 14px rgba(208, 208, 208, 0.79);
  position: absolute;
  left: 75px;
  top: -25px;
  width: 268px;
  height: 532px;
}
.description__phone img{
  transform: translateY(45px);
}
.description__phone-speaker{
  border-radius: 5px;
  background-color: #efefef;
  position: absolute;
  left: 110px;
  top: 23px;
  width: 43px;
  height: 6px;
}
.description__phone-button{
  border-radius: 50%;
  background-color: #efefef;
  position: absolute;
  bottom: 14px;
  left: 123px;
  width: 21px;
  height: 21px;
}


//link

.link{
  display: flex;
}
.link_wrapper{
  display: flex;
  justify-content: space-between;
}
.link__form{
  border-radius: 25px;
  background-color: #fff;
  box-shadow: 0px 32px 90.35px 16.65px rgba(229, 229, 229, 0.72);
  width: 510px;
  height: 262px;
  margin: 135px 0 105px 0 ;
}
.link__form a{
  text-decoration: none;
  color: #656565;
  padding-left: 20px;
  font-size: 14px;
}
.link__form-old,
.link__form-new{
  display: flex;
  align-items: center;
  border-radius: 25px;
  background-color: #fff;
  box-shadow: 0px 91px 163px 0px rgba(1, 1, 1, 0.25);
  width: 355px;
  height: 45px;
}
.link__form-old{
  margin: 50px 0 0 25px;
}
.link__form-transform{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #3468eb;
  margin: 10px auto;

  animation-name: spin;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear
}
.link__form-transform img{
  transform: translate(59%, 50%);
}
.link__form-new{
  margin: 2px 43px 0 auto;
}
.link__descr{
  padding-top: 135px;
  width: 45%;
}
.link__descr-text{
  padding-top: 40px;
  font-size: 15px;
  line-height: 23px;
}

//preview

.preview{
  display: flex;
  background-color: #f6f7fa;
}
.preview__title{
  padding-top: 77px;
}
.preview__descr{
  padding-top: 27px;
  text-align: center;
  padding-bottom: 147px;
}
.preview__items{
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}
.preview__item{
  position: relative;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 47px 185px 0px rgba(0, 0, 0, 0.06);
  width: 300px;
  transition: all .3s ease;

  &:hover {
    transform: scale(1.2);
    z-index: 1;
  }
}
.preview__item-logo{
  position: absolute;
  left: 23%;
  top: -35%;
}
.preview__item-logo img{
  width: 160px;
  border-radius: 50%;
  border: 3px solid #f9f9f9;
  box-shadow: 0px 0px 35px 20px rgba(229,229,229,0.72);
}
.preview__item-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 115px;
  text-align: center;
}
.preview__item-info-title{
  font-size: 25px;
  font-weight: 600;
  color: #323c5a;
}
.preview__item-info-members{
  font-size: 19px;
  font-weight: 600;
  color: #000000;
  padding-top: 30px;
}
.preview__item-info-text{
  font-size: 12px;
  color: #323c5a;
  line-height: 14px;
  padding-bottom: 65px;
}
.preview__btn{
  display: flex;
  margin: 0 auto;
  width: fit-content;
  padding-bottom: 92px;
}
.preview__btn-property{
  box-shadow: 0px 24px 40px 0px rgba(51, 101, 234, 0.31);
  width: 176px;
  height: 40px;
  font-size: 13px;
  padding: 0px 26px;
}
.footer__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 0 45px 0 ;
  font-size: 12px;
}
.footer__logo img{
  width: 95px;
  margin-left: 165px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

@import "../scss/media";